@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
        url('../fonts/subset-HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../fonts/subset-HelveticaNeueCyr-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-Thin.woff') format('woff'),
        url('../fonts/subset-HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-UltraLight.woff') format('woff'),
        url('../fonts/subset-HelveticaNeueCyr-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('../fonts/subset-HelveticaNeueCyr-Black.woff2') format('woff2'),
        url('../fonts/subset-HelveticaNeueCyr-Black.woff') format('woff'),
        url('../fonts/subset-HelveticaNeueCyr-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

