@import _vars.sass
@import _utility
*
    box-sizing: border-box
    outline: none

a
    text-decoration: none
    color: inherit

a, button
    cursor: pointer
input, button
    border: none
    padding: 0
    background: none

p, ul, h1, h2, h3, h4, h5, h6, ol
    padding: 0
    margin: 0
    font-weight: normal

ul, ol
    list-style: none

button, input
    display: inline-block

body
    font-family: HelveticaNeueCyr, sans-serif
    background-color: #fff
header, main, footer
    overflow: hidden

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

/* Firefox */
input[type=number]
    -moz-appearance: textfield

//sitecontent
.sitecontent
    display: flex
    align-items: flex-start
    overflow: visible

//sitebar
.sitebar
    position: sticky
    background-color: #fff
    display: flex
    top: 0
    z-index: 111
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25)
    border-right: 5px solid #313131
    min-width: 65px
    &-bg
        pointer-events: none
        opacity: 0
    &__close
        position: absolute
        left: 105%
        top: 15px
        display: none
        &--cross
            opacity: 0.7
    &-buttons
        display: flex
        flex-direction: column
        height: calc( 1vh * 100 )
        justify-content: space-between
        position: absolute
        top: 0
        left: 0
        background-color: #fff
        &--wrapper
        &-button
            display: flex
            align-items: center
            width: 100%
            &:last-of-type
                justify-self: flex-end
                align-self: flex-end
            &-wrap
                min-width: 65px
                height: 50px
                display: flex
                align-items: center
                justify-content: center
                transition: all 0.5s
                &__svg
            &__desk
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 16px
                line-height: 16px
                color: #222222
                text-align: left
                width: 100%
                display: none
                transition: all 0.5s
            &__img
                transform: rotate(-90deg)
                display: none
                transition: all 0.5s
    &-choises
        position: absolute
        right: -579px
        background: #313131
        box-shadow: 5px 0px 10px rgba(31, 12, 12, 0.25)
        padding-top: 15px
        min-width: 417px
        width: 100%
        height: 100vh
        display: none
        &-wrap
            &--wrapper
                display: flex
                flex-direction: column
                justify-content: space-between
                height: calc( 1vh * 95 )
            &-head
                display: flex
                align-items: center
                justify-content: space-between
                padding-right: 15px
                padding-left: 30px
                &__title
                    font-family: HelveticaNeueCyr
                    font-style: normal
                    font-weight: normal
                    font-size: 36px
                    line-height: 36px
                    color: #FFFFFF
                &__img
                    cursor: pointer
                &__btn
                    display: none
            &-items
                display: flex
                flex-wrap: wrap
                padding-left: 15px
                &-card
                    max-width: 100px
                    margin-left: 15px
                    margin-right: 15px
                    margin-top: 15px
                    margin-bottom: 15px
                    display: flex
                    flex-direction: column
                    align-items: center
                    justify-content: center
                    &--link
                    &__desc
                        font-family: HelveticaNeueCyr
                        font-style: normal
                        font-weight: normal
                        font-size: 14px
                        line-height: 14px
                        color: #FFFFFF
                        text-align: center
                        margin-top: 13px
                        transition: color 0.5s
                    &__svg
            &-btn
                display: block
                text-align: center
                padding-top: 15px
                padding-bottom: 15px
                width: 100%
                background: rgba(255, 255, 255, 0.25)
                &__desc
                    font-family: HelveticaNeueCyr
                    font-style: normal
                    font-weight: normal
                    font-size: 16px
                    line-height: 16px
                    color: #FFFFFF
.sitebar-choices-wrap-head__btn
    display: none
.sitebar-choises-wrap-items-card__svg path
    fill: #FFFFFF
    transition: fill 0.5s
.sitebar-choises-wrap-items-card--link:active
    .sitebar-choises-wrap-items-card__svg path
        fill: #FAC240
        transition: fill 0.5s
    .sitebar-choises-wrap-items-card__desc
        color: #FAC240
        transition: color 0.5s
.sitebar-choises-wrap-items-card--link:hover
    .sitebar-choises-wrap-items-card__svg path
        fill: #FAC240
        transition: fill 0.5s
    .sitebar-choises-wrap-items-card__desc
        color: #FAC240
        transition: color 0.5s
.sitebar-buttons-button.active
    background: #313131
    .sitebar-buttons-button-wrap__svg path
        fill: #FFFFFF
    .sitebar-buttons-button__desk
        color: #FFFFFF

//maincontent
.maincontent
    width: 100%
//header
.header
    display: flex
    align-items: center
    justify-content: space-between
    background-image: url(../img/header-bg-img.jfif)
    background-size: contain
    padding: 20px 65px 20px 30px
    &-left
        display: flex
        align-items: center
        justify-content: center
        &-logo
        &-contacts
            display: flex
            flex-direction: column
            justify-content: space-between
            margin-left: 30px
            &__title
                color: #FFFFFF
                opacity: 0.75
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 12px
                line-height: 12px
            &__number
                color: #FFFFFF
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 18px
                line-height: 18px
                margin-top: 4px
        &-pages
            &-list
                display: flex
                align-items: center
                justify-content: center
                &__item
                    margin-left: 30px
                    &--link
                        color: #FFFFFF
                        opacity: 0.75
                        font-family: HelveticaNeueCyr
                        font-style: normal
                        font-weight: normal
                        font-size: 14px
                        line-height: 14px
    &-mobile
        width: 32px
        height: 25px
        display: none
        flex-direction: column
        justify-content: space-between
        &__item
            width: 100%
            height: 4px
            background-color: #fff
.far
    color: #fff
.far:first-child
    margin-right: 5px
.fa
    color: #fff
//breadcrumb
.breadcrumb
    display: flex
    align-items: center
    margin-top: 20px
    padding-left: 28px
    &-list
        padding-left: 16px
        padding-right: 16px
        display: flex
        align-items: center
        justify-content: center
        &__item
            position: relative
            &::after
                padding: 8px
                color: black
                content: "/\00a0"
            &:last-child
                &::after
                    content: ""
            &--link
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 14px
                line-height: 14px
                color: rgba(34, 34, 34, 0.75)
.breadcrumb
    .fas
        color: #282828
//submenu
.submenu
    padding-top: 30px
    padding-bottom: 30px
    padding-left: 28px
    &__title
        font-family: HelveticaNeueCyr
        font-style: normal
        font-weight: normal
        font-size: 36px
        line-height: 36px
        color: #222222
        margin-bottom: 15px
    &-wrap
        display: flex
        align-items: center
        &-link
            display: flex
            flex-direction: column
            max-width: 100px
            max-height: 112px
            height: 100%
            margin-right: 60px
            &__subtitle
                text-align: center
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 14px
                line-height: 14px
                margin-top: 13px
                transition: color 0.5s
            &__svg path
                transition: fill 0.5s
.submenu-wrap-link:hover
    .submenu-wrap-link__svg path
        fill: #FAC240
        transition: fill 0.5s
    .submenu-wrap-link__subtitle
        color: #FAC240
        transition: color 0.5s
.submenu-wrap-link:active
    .submenu-wrap-link__svg path
        fill: #FAC240
        transition: fill 0.5s
    .submenu-wrap-link__subtitle
        color: #FAC240
        transition: color 0.5s
//maincontent-wrap
.maincontent-wrap
    &-top
        display: flex
        align-items: center
        justify-content: space-between
        padding-right: 185px
    &-bottom
        display: flex

//filter
.filter
    &-top
        &-button
            background: #313131
            display: inline-flex
            align-items: center
            justify-content: center
            padding-top: 23px
            padding-bottom: 23px
            width: 290px
            cursor: pointer
            &__title
                margin-right: 5px
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 14px
                line-height: 14px
                color: #FFFFFF
            &__img
                transition: transform 0.5s
    &-bottom
        display: block
        max-width: 290px
        width: 100%
        &-element
            padding-left: 20px
            padding-right: 20px
            padding-top: 17px
            padding-bottom: 17px
            border-bottom: 1px solid #efefef
            border-right: 1px solid #efefef
            &--divider
                width: 100%
                display: inline-block
                height: 1px
                background-color: #efefef
                margin-bottom: 15px
            &-head
                margin-bottom: 15px
                display: flex
                justify-content: space-between
                width: 100%
                &__title
                    font-size: 14px
                    line-height: 14px
                    color: $black
                &__arrow
                    width: 20px
                    height: 20px
            &-body
                display: flex
                flex-direction: column
                &-wrap
                    display: flex
                    flex-direction: column
                    width: 50%
                    justify-content: start
                &--row
                    flex-direction: row
                    justify-content: space-between
                &:first-child
                    display: flex
                    justify-content: space-between
                &__input
                    display: none
                    & ~ b
                        color: #00CC00
                & label
                    margin-bottom: 10px
                &__span
                    width: 16px
                    height: 16px
                    display: inline-flex
                    align-items: center
                    justify-content: center
                    background-color: #fff
                    border: 1px solid #D9D9D9
                    box-sizing: border-box
                    border-radius: 1px
                    position: relative
                    &::after
                        position: absolute
                        content: ''
                        display: inline-block
                        width: 4px
                        height: 4px
                        border-radius: 100%
                        background-color: #fff
                &__radio
                    width: 16px
                    height: 16px
                    display: inline-flex
                    align-items: center
                    justify-content: center
                    background-color: #fff
                    border: 1px solid #D9D9D9
                    box-sizing: border-box
                    border-radius: 100%
                    position: relative
                    &::after
                        position: absolute
                        content: ''
                        display: inline-block
                        width: 10px
                        height: 10px
                        border-radius: 100%
                        background-color: #fff
                &-toddler
                    display: flex
                    align-items: center
                    justify-content: space-between
                    padding-top: 15px
                    &-label
                        display: flex
                        align-items: center
                        width: 90px
                        height: 24px
                        border: 1px solid #D9D9D9
                        box-sizing: border-box
                        border-radius: 1px
                        padding: 5px 10px
                        &__input
                            font-family: HelveticaNeueCyr
                            font-style: normal
                            font-weight: normal
                            font-size: 14px
                            line-height: 14px
                            color: #222222
        &__btn
            background: #313131
            display: inline-flex
            align-items: center
            justify-content: center
            padding-top: 23px
            padding-bottom: 23px
            width: 290px
            cursor: pointer
            color: #FFFFFF
    &-popup
        position: absolute
        left: 110%
        top: 0
        right: 0
        bottom: 0
        width: 100%
        height: 100%
        background-color: #fff
        display: flex
        flex-direction: column
        align-items: center
        &-selection
            z-index: 998
            left: -110%
            transition: all 0.5s
        &-tab
            z-index: 999
            left: -110%
            transition: all 0.5s
        &-top
            background: #EFEFEF
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25)
            padding-top: 13px
            padding-bottom: 13px
            display: flex
            justify-content: center
            align-items: center
            position: relative
            width: 100%
            &__title
                color: #222222
                font-size: 24px
                line-height: 24px
            &__close
                position: absolute
                right: 15px
                top: 9px
                width: 32px
                height: 32px
                &--icon
                    width: 16px
                    height: 16px
            &__back
                position: absolute
                left: 15px
                top: 9px
                width: 32px
                height: 32px
                &--icon
        &-bottom
            width: 100%
            padding-left: 15px
            padding-right: 15px
            &-tab
                border: 1px solid #efefef
                padding-left: 15px
                padding-right: 21px
                padding-top: 18px
                padding-bottom: 18px
                display: flex
                justify-content: space-between
                align-items: center
                &__title
                    font-size: 14px
                    line-height: 14px
                    color: #222222
                &__arrow
                    transform: rotate(-90deg)
            &-element
                display: block
        &__btn
            background: #313131
            margin-top: auto
            margin-bottom: 15px
            width: 95%
            display: flex
            justify-content: center
            align-items: center
            color: #fff
            border-radius: 2px
            height: 50px
        &__reset
            display: inline-block
            padding-top: 16px
            padding-bottom: 16px
            padding-right: 13px
            width: 100%
            display: flex
            align-items: center
            justify-content: end
            &--icon
                margin-right: 12px
.show
    left: 0
    display: flex
    position: fixed
.filter__toddler
    margin-top: 10px
    margin-bottom: 3px
.noUi-target
    box-shadow: none
    border-radius: 100px
    height: 4px
    padding-left: 14px
.filter__toddler
    .noUi-connect
        background: #313131
.noUi-handle::after
    display: none
.noUi-handle::before
    display: none
.noUi-handle
    box-shadow: none
    border-radius: 100%
    border: 2px solid #313131
.noUi-horizontal .noUi-handle
    width: 14px
    height: 14px
.noUi-horizontal .noUi-handle-upper
    right: 0px
.noUi-horizontal .noUi-handle-lower
    right: 0px
.label-border
    margin-bottom: 0 !important
    padding-bottom: 16px
    border: 1px solid #EFEFEF
.filter-bottom-element-body__input:checked + .filter-bottom-element-body__span::after
    background-color: #D9D9D9
.filter-bottom-element-body__input:checked + .filter-bottom-element-body__radio::after
    background-color: #D9D9D9
.filter-mobile__btn
    display: none
.sort-mobile__btn
    display: none
.filter-top.active
    .filter-top-button__img
        transform: rotate(-180deg)
        transition: transform 0.5s

.priority
    margin-left: 10px
    margin-right: 30px
    padding-right: 30px
    border-left: 1px solid #FFFFFF
    max-width: 220px
    width: 100%
    position: relative
    &-top
        &-btn
            display: flex
            align-items: center
            &__desk
                margin-right: 4px
        &__target
            cursor: pointer
    &-bottom
        position: absolute
        padding: 20px 20px
        top: -15px
        left: 0
        background-color: #fff
        box-shadow: 0 5px 15px rgba(0, 0, 0, 35%)
        display: none
        z-index: 5
        &-head
            display: flex
            align-items: center
            justify-content: space-between
            &__desk
            &__img
                max-width: 10px
                transition: transform 0.5s
                cursor: pointer
                &:hover
                    transform: rotate(360deg)
                    transition: transform 0.5s
        &-items
            display: flex
            flex-direction: column
            padding-top: 10px
            &__link
                margin-top: 10px

.wrapper
    width: 100%
    display: flex
    justify-content: space-between
    &-summ
        display: flex
        align-items: center
        justify-content: center
    &-search
        &-link
            display: flex
            align-items: center
            justify-content: center
            &__desk
                margin-left: 30px

//cards
.cards
    display: grid
    grid-template-columns: repeat(auto-fill, 250px)
    grid-template-rows: repeat(auto-fill, 375px)
    width: 100%
    &-wrap
        position: relative
    &-card
        padding: 20px 15px 25px 15px
        min-width: 250px
        background-color: #fff
        position: relative
        &:hover
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25)
            position: absolute
            z-index: 100
            .cards-card-onhover
                display: block
            .cards-card-top
                opacity: 1
        &-top
            opacity: 0
            justify-content: space-between
            align-items: center
            width: 100%
            display: flex
            &__like
                width: 24px
                height: 24px
            &__left
                background-color: #00CC00
                padding: 5px
                border-radius: 2px
                font-size: 16px
                color: #fff
        &-link
            &-images
                height: 150px
                &__img
                    width: 220px
        &-items
            margin-bottom: 20px
            &__title
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 14px
                line-height: 14px
                color: #222222
                margin-bottom: 4px
                margin-top: 33px
            &__desk
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 16px
                line-height: 16px
                color: #222222
            &-status
                display: flex
                align-items: center
                margin-top: 22px
                margin-bottom: 20px
                &__desk
                    margin-left: 4px
                    font-family: HelveticaNeueCyr
                    font-style: normal
                    font-weight: normal
                    font-size: 12px
                    line-height: 12px
                    color: #222222
            &__price
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 25px
                line-height: 25px
                color: #222222
                margin-bottom: 4px
            &__brand
                font-family: HelveticaNeueCyr
                font-size: 14px
                line-height: 16px
                color: #222222
                position: relative
                &--country
                    color: rgba(34, 34, 34, 0.75)
        &-onhover
            width: 100%
            display: none
            &__code
                font-size: 14px
                line-height: 14px
                color: $black
                opacity: 0.75
                margin-bottom: 25px
                b
                    font-size: 16px
                    line-height: 16px
                    color: $black
                    font-weight: normal
            &-size
                display: flex
                margin-bottom: 20px
                &-params
                    display: flex
                    flex-direction: column
                    &:first-child
                        margin-right: 30px

                    &__tag
                        font-size: 12px
                        line-height: 12px
                        color: $black
                        opacity: 0.75
                        margin-bottom: 6px
                    &__num
                        font-size: 16px
                        line-height: 16px
                        color: $black
            &-tocart
                display: flex
                &__count
                    font-size: 16px
                    color: $black
                    padding-left: 20px
                    padding-right: 20px
                    padding-top: 12px
                    padding-bottom: 11px
                    border-left: 1px solid rgba(34, 34, 34, 0.2)
                    border-top: 1px solid rgba(34, 34, 34, 0.2)
                    border-bottom: 1px solid rgba(34, 34, 34, 0.2)
                    border-radius: 2px
                &__btn
                    background-color: #FFAF24
                    padding-left: 20px
                    padding-right: 20px
                    padding-top: 10px
                    padding-bottom: 10px
                    display: flex
                    justify-content: space-between
                    align-items: center
                    color: #fff
                    &--mobile
                        display: none
                    &--img
                        width: 24px
                        height: 24px
                        margin-right: 15px
.cards-card-items-status
    .fas
        color: #00CC00
.mini-slider
    position: relative
    z-index: 1
    display: flex
    width: 100%
    height: 100%
    &__slide
        width: 100%
        &__img
            position: absolute
            left: 0
            top: 0
            z-index: -1
            width: 100%
            height: 100%
            object-fit: contain
            opacity: 0
    &__dots
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        left: 0
        right: 0
        bottom: 3px
        z-index: 2
        background-color: #c4c4c4
        height: 2px
        width: 100%
    &__dot
        width: 100%
        height: 2px
        &--active
            background-color: $black

//info
.info
    padding-top: 23px
    padding-bottom: 23px
    margin-bottom: 30px
    padding-right: 60px
    &-top
        display: flex
        align-items: center
        cursor: pointer
        padding-top: 23px
        padding-bottom: 23px
        padding-left: 45px
        background-color: #efefef
        &__title
            font-family: HelveticaNeueCyr
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 14px
        &__img
            margin-left: 12px
            transform: rotate(0deg)
            transition: transform 0.5s
    &-bottom
        padding-top: 23px
        display: none
        &__title
            font-family: HelveticaNeueCyr
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 21px
        &__subtitle
            font-family: HelveticaNeueCyr
            font-style: normal
            font-weight: normal
            font-size: 14px
            line-height: 16px
        &-list
            list-style: inside
            &__item
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 14px
                line-height: 16px
.info-top.active
    .info-top__img
        transform: rotate(-180deg)
        transition: transform 0.5s

//else
.else
    display: flex
    align-items: center
    padding-top: 30px
    padding-bottom: 30px
    border-top: 1px solid #efefef
    padding-left: 45px
    &__subtitle
    &-list
        display: flex
        align-items: center
        margin-left: 12px
        &__item
            position: relative
            margin-right: 18px
            &:not(:last-child)
                &::after
                    content: ''
                    position: absolute
                    width: 6px
                    height: 6px
                    top: 50%
                    transform: translateY(-50%)
                    right: -13px
                    background-color: #000
                    border-radius: 50%
            &--link

//footer
.footer
    padding-top: 30px
    padding-bottom: 30px

    &-wrap
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: 76px 1fr 1fr
        grid-gap: 5px
        grid-template-areas: "nav nav nav nav" "links links links tels" "links links links payments"
        margin-top: 60px
        &-nav
            grid-area: nav
            display: flex
            align-items: center
            background-color: #efefef
            padding-left: 45px
            padding-right: 110px
            &__link
                margin-right: 27px
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 16px
                line-height: 16px
        &-links
            grid-area: links
            background-color: #efefef
            display: flex
            justify-content: space-between
            padding-left: 45px
            padding-right: 110px
            &-card
                display: flex
                flex-direction: column
                align-self: center
                &__subtitle
                    margin-bottom: 25px
                    font-family: HelveticaNeueCyr
                    font-style: normal
                    font-weight: normal
                    font-size: 16px
                    line-height: 16px
                    color: #222222
                &__link
                    margin-top: 15px
                    font-family: HelveticaNeueCyr
                    font-style: normal
                    font-weight: normal
                    font-size: 16px
                    line-height: 16px
                    color: #222222
                    &--liquid
                        font-weight: 300
                &__info
                    margin-bottom: 25px
                    font-family: HelveticaNeueCyr
                    font-style: normal
                    font-weight: 900
                    font-size: 16px
                    line-height: 15px
                    color: #222222
                &__contact
                    margin-top: 15px
                    margin-bottom: -5px
                    font-family: HelveticaNeueCyr
                    font-style: normal
                    font-weight: 900
                    font-size: 16px
                    line-height: 15px
                    color: #222222
                &-contacts
                    display: flex
                    align-items: center
                    margin-top: 15px
                    &__subtitle
                        margin-left: 5px
                        font-family: HelveticaNeueCyr
                        font-style: normal
                        font-weight: normal
                        font-size: 14px
                        line-height: 14px
                        color: #222222
        &-tels
            grid-area: tels
            background-color: #efefef
            text-align: right
            display: flex
            flex-direction: column
            justify-content: center
            &__number
                margin-bottom: 15px
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 24px
                line-height: 24px
                color: #222222

        &-payments
            grid-area: payments
            background-color: #efefef
            text-align: right
            &__pay
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: 900
                font-size: 16px
                line-height: 15px
                text-align: right
                justify-self: end
            &__img
                justify-self: end
                max-width: 300px
                margin-top: 16px
                margin-bottom: 15px
            &__option
                justify-self: end
                font-family: HelveticaNeueCyr
                font-style: normal
                font-weight: normal
                font-size: 16px
                line-height: 16px
                text-align: right
                color: #222222
    &__offer
        font-family: HelveticaNeueCyr
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 16px
        margin-right: auto
        margin-left: auto
        text-align: center
        max-width: 75%
        margin-top: 60px
    &-company
        display: flex
        align-items: center
        justify-content: center
        margin-top: 37px
        &-link
            margin-right: 11px
            &__img
                width: 35px
                height: 30px
        &__subtitle
            font-family: HelveticaNeueCyr
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 16px
.iconfont-wrap
    display: flex
    align-items: center
    justify-content: center
    width: 12px
    height: 12px
    .fas
        color: #222222
    .far
        color: #222222



// Media
@media ( max-width: 1400px )
    .header-left-contacts__number
        font-size: 14px
    .header-left-pages-list__item
        margin-left: 20px
    .header-left-contacts__title
        font-size: 10px
@media (max-width: 1200px)
    .footer-wrap
        grid-template-rows: 76px 1fr 1fr 1fr
        grid-template-areas: "nav nav nav nav" "tels tels tels tels" "payments payments payments payments" "links links links links"
    .header-left-logo
        width: 150px
    .header-left-pages
        width: 45%
    .header-right
        width: 10%
    .submenu-wrap
        overflow-x: scroll
        height: 140px

@media (max-width: 991px)
    .sitebar
        display: none        
    .filter-bottom
        display: none
    .header-left-contacts
        display: none
    .header-left-pages-list
        display: none
    .far:first-child
        display: none
    .header
        padding-left: 15px
        padding-right: 15px
    .header-mobile
        display: flex
    .header-right
        width: unset
    .header-left
        margin: 0 auto
    .maincontent-wrap-top
        padding-right: 25px
    .wrapper
        justify-content: end
    .wrapper-summ
        display: none
    .priority
        margin-right: 0
        padding-left: 0
    .priority-top-btn__desk
        text-align: left
    .cards
        padding-left: 15px
        padding-right: 15px
    .cards-card:hover
        //z-index: 0
        box-shadow: unset
        position: relative
        .cards-card-onhover
            display: none
        .cards-card-top
                opacity: 0
    .info
        padding-right: 0
    .info-top
        padding-left: 15px
    .info-bottom
        padding-left: 15px
    .else
        flex-wrap: wrap
        padding-left: 16px
    .else-list
        flex-wrap: wrap
        margin-left: 0
    .footer-wrap-tels
        text-align: center
    .footer-wrap-payments
        text-align: center
    .footer-wrap-payments__pay
        text-align: center    
    .footer-wrap-links
        padding-right: 50px
        flex-wrap: wrap
    .footer-wrap-links-card
        width: 50%
        margin-top: 30px
    .footer-wrap-links-card__link--liquid
        font-weight: normal
    .footer-wrap-nav
        flex-wrap: wrap
        padding-right: 0
        padding-left: 16px
    .footer-wrap-nav__link
        max-width: 240px
    .iconfont-wrap
        .far
            display: block
    .sitebar
        position: absolute
        width: 60%
        transition: all 0.5s
        left: -100%
        display: block
        z-index: 101
    .sitebar__close
        display: inline-block
    .sitebar-buttons
        position: unset
    .sitebar-choises
        right: unset
        left: -300%
        top: 0px

        transition: all 0.5s
    .sitebar-bg
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: 100%
        height: 100%
        background-color: rgba(0, 0, 0, 0.6)
        z-index: 100
        transition: all 0.5s
    .sitebar-choices-wrap-head__btn
        display: inline-block
    .cards
        justify-content: space-between
    .cards-card-onhover-tocart__btn--mobile
        display: inline-block
        position: absolute
        right: 0
        bottom: 0
        display: flex
        justify-content: center
        align-items: center
        padding: 9px
    .cards-card-onhover-tocart__btn--img--mobile
        width: 24px
        height: 24px
        margin-right: 0

@media (max-width: 768px)
    .cards
        grid-template-columns: 1fr 1fr
    

@media (max-width: 576px)
    .cards
        grid-template-columns: 1fr
        grid-template-rows: unset
    .cards-card
        border: 1px solid #EFEFEF
        border-radius: 1px
        margin-bottom: 15px

    .sitebar-choises
        min-width: calc( 1vw * 100 )

    .filter
        display: none
    .priority
        display: none
    .wrapper
        display: none
    .filter-mobile__btn
        display: inline-block
        background-color: #313131
        display: flex
        justify-content: center
        align-items: center
        font-size: 14px
        color: #fff
        margin-right: 5px
        width: 50%
        padding-top: 15px
        padding-bottom: 15px
        &--icon
            margin-right: 10px
    .sort-mobile__btn
        display: inline-block
        background-color: #fff
        border: 1px solid #313131
        display: flex
        justify-content: center
        align-items: center
        font-size: 14px
        color: #313131
        width: 50%
        padding-top: 17px
        padding-bottom: 17px
        &--icon
            margin-right: 10px
    .maincontent-wrap-top
        justify-content: center
        padding-right: 15px
        padding-left: 15px
        margin-bottom: 30px
